@import "compass";

$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";

// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,500);

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ffffff;
}

#reference {
    background-color: #E8E4D1;
    width: 100%;
    img {
        width: 200px;
    }
}

.footer {
    background-color: #E8E4D1;
    width: 100%;
    color: #EC1651;
    @include text-shadow(5px 5px 5px #fffce5);
    font-size: 2em;
    padding-top: 10px;
}

.nav {
    background-color: #211f24;
    padding-top: 4em;
    a {
        font-size: 1.5em;
        color: #ffffff;
        padding-left: 2em;
        @include text-shadow(0 -1px 1px black);
        line-height: 7em;
    }
    img {
        height: 7em;
        padding-bottom: 2em;
    }
}

#image-container {
    padding: 0em;
    img {
        width: 100%;
    }
}

#article-container {
    background-color: #93c1d9;
    color: #ffffff;
    padding-top: 3em;
    padding-bottom: 3em;
    article {
        font-size: 1.2em;
    }
}

h1 {
    font-size: 4em;
    font-weight: 1000;
}