@import "compass";

$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower


@import url(http://fonts.googleapis.com/css?family=Krona+One);
@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy);
$color: #93c1d9, #ed1651, #211f24, #ffffff, #000000;
@import "palette";
@include palette($color);

* {
    font-family: 'Sorts Mill Goudy', serif;
}
h1 {
    font-size: 4em;
    font-weight: 900;
    font-family: 'Krona One', sans-serif;
}
h2 {
    font-size: 1.6em;
    font-weight: 700;
    font-family: 'Krona One', sans-serif;
}

.nav {
    background-color: nth($color, 3);
    padding-top: 1em;
    a {
        font-size: 1.5em;
        color: nth($color, 4);
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 2em;
        @include text-shadow(0 -1px 4px black);
        line-height: 5em;
        font-family: 'Krona One', sans-serif;
        text-decoration: none;
        &:hover {
            background-color: nth($color, 1);
        }
    }
    img {
        height: 7em;
    }
    li {
        margin-top: 2em;
        margin-bottom: -2em;
    }
}

#image-container {
    padding: 0em;
    img {
        width: 100%;
    }
}

#article-container {
    background-color: nth($color, 1);
    color: nth($color, 4);
    padding-top: 3em;
    padding-bottom: 3em;
}

#reference-container {
    background-color: nth($color, 4);
    color: nth($color, 3);
    padding-top: 3em;
    padding-bottom: 3em;
    img {
        width: 500px;
    }
    h1{
        padding-left: 15px;
        margin-bottom: 30px;
    }
    h2 {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    p {
        margin-bottom: 20px;
    }
}

#footer-container {
    background-color: nth($color, 3);
    color: nth($color, 4);
    padding-top: 3em;
    padding-bottom: 3em;
    border-top: 5px solid;
    border-color: nth($color, 2);
    @include box-shadow(0 -5px 0px black);
    .row {
        margin-right: 40px;
        font-size: 1.6em;
    }
    .text-center {
        padding-left: 3em;
    } 
    h1{
        margin-bottom: 30px;
    }
}
