$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

@font-face {
  font-family: Gill_Sans_CE;
  src: url("fonty/Gill_Sans_CE.ttf");
}
* {
  font-family: "Gill_Sans_CE", "Geneva CE", "Arial CE", sans-serif;
}

.header {background-color: #ED1651;
}
