$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";

// endbower

@font-face {
    font-family: "Gill_Sans_CE";
     src: url("fonty/Gill_Sans_CE.ttf");
     font-family: "Gill_Sans_UB";
     src: url("fonty/Gill_Sans_UB.ttf");
 }

* {
  font-family: "Gill_Sans_CE", "Geneva CE", "Arial CE", sans-serif;
}
h1 {font-family: "Gill_Sans_UB";
}
h2 {font-family: "Gill_Sans_UB";
  font-size: 7em;
  color: #EC1651;
  text-shadow: 5px 5px 5px #FFFCE5;
  padding-top: 15px;

}
body {
    background-color: #FFFCE5;
    color: #000000;
}
#rzstav {background-color: #E8E4D1;
    width: 100%;
    img {width: 200px;
    }
}
#reference{background-color: #E8E4D1;
    width: 100%;
    img {width: 200px;
    }
}
.footer {background-color: #E8E4D1;
    width: 100%;     
    color: #EC1651;
    text-shadow: 5px 5px 5px #FFFCE5;
    font-size: 2em;
    padding-top: 10px;
}
.nav a {font-size: 3em;
    color: #000000;
}
.container {
  padding-top: 2em;
  padding-bottom: 2em;
}