@import "compass";

$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower


@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,500);
$color: #93c1d9, #ed1651, #211f24, #ffffff;
@import "palette";
@include palette($color);

* {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 4em;
    font-weight: 700;
}
h2 {
    font-size: 1.6em;
    font-weight: 500;
}
p {
    font-size: 1.2em;
    font-weight: 400;
}
.nav {
    background-color: nth($color, 3);
    padding-top: 1em;
    a {
        font-size: 1.5em;
        color: nth($color, 4);
        padding-left: 2em;
        @include text-shadow(0 -1px 1px black);
        line-height: 5em;
    }
    img {
        height: 7em;
    }
    li {
        margin-top: 2em;
        margin-bottom: -2em;
    }
}

#image-container {
    padding: 0em;
    img {
        width: 100%;
    }
}

#article-container {
    background-color: nth($color, 1);
    color: nth($color, 4);
    padding-top: 3em;
    padding-bottom: 3em;
}

#reference-container {
    background-color: nth($color, 4);
    color: nth($color, 3);
    padding-top: 3em;
    padding-bottom: 3em;
    img {
        width: 500px;
    }
    h1{
        padding-left: 15px;
        margin-bottom: 30px;
    }
    h2 {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    p {
        margin-bottom: 20px;
    }
}

#footer-container {
    background-color: nth($color, 3);
    color: nth($color, 4);
    padding-top: 3em;
    padding-bottom: 3em;
    .row {
        margin-right: 40px;
        font-size: 1.6em;
    }
    p {
        padding-left: 4em;
    }
}
